---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1045%2Fnovember2010-massart
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T21:05:49Z","timestamp":1649019949313},"reference-count":0,"publisher":"CNRI
        Acct","issue":"11\/12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["D-Lib
        Magazine"],"DOI":"10.1045\/november2010-massart","type":"journal-article","created":{"date-parts":[[2010,11,15]],"date-time":"2010-11-15T18:04:37Z","timestamp":1289844277000},"source":"Crossref","is-referenced-by-count":1,"title":["Taming
        the Metadata Beast: ILOX"],"prefix":"10.1045","volume":"16","author":[{"given":"David","family":"Massart","sequence":"first","affiliation":[]},{"given":"Elena","family":"Shulman","sequence":"additional","affiliation":[]},{"given":"Nick","family":"Nicholas","sequence":"additional","affiliation":[]},{"given":"Nigel","family":"Ward","sequence":"additional","affiliation":[]},{"given":"Fr\u00e9d\u00e9ric","family":"Bergeron","sequence":"additional","affiliation":[]}],"member":"72","published-online":{"date-parts":[[2010,11]]},"container-title":["D-Lib
        Magazine"],"original-title":[],"language":"en","deposited":{"date-parts":[[2010,11,15]],"date-time":"2010-11-15T18:04:40Z","timestamp":1289844280000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.dlib.org\/dlib\/november10\/massart\/11massart.html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010,11]]},"references-count":0,"journal-issue":{"issue":"11\/12","published-online":{"date-parts":[[2010,10]]}},"URL":"http:\/\/dx.doi.org\/10.1045\/november2010-massart","relation":{},"ISSN":["1082-9873"],"issn-type":[{"value":"1082-9873","type":"electronic"}],"subject":["Library
        and Information Sciences"],"published":{"date-parts":[[2010,11]]}}}'
  recorded_at: Tue, 13 Dec 2022 14:29:01 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22D-Lib%20Magazine,%20CNRI%20Acct,%20,%202010%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":25410,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T22:47:36Z","timestamp":1648853256263},"reference-count":0,"publisher":"Ex
        Officina Ioannis Hervagii","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1533]]},"DOI":"10.24157\/arc_8103","type":"book","created":{"date-parts":[[2018,3,28]],"date-time":"2018-03-28T16:41:35Z","timestamp":1522255295000},"source":"Crossref","is-referenced-by-count":0,"title":["Ivlii
        firmicima terni ivnioris sicvli v.c. ad mavortivm lollianum astronomi[co]n
        lib. viii, per nicolavm prvcknervm astrologum nuper ab innumeris mendis uindicati,
        his accesservnt, Clavdii Ptolemaei Pheludiensis Alexandrini [Greek text],
        quod Qua[...]
