---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1045%2Fnovember2010-massart
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.3 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T21:05:49Z","timestamp":1649019949313},"reference-count":0,"publisher":"CNRI
        Acct","issue":"11\/12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["D-Lib
        Magazine"],"DOI":"10.1045\/november2010-massart","type":"journal-article","created":{"date-parts":[[2010,11,15]],"date-time":"2010-11-15T18:04:37Z","timestamp":1289844277000},"source":"Crossref","is-referenced-by-count":1,"title":["Taming
        the Metadata Beast: ILOX"],"prefix":"10.1045","volume":"16","author":[{"given":"David","family":"Massart","sequence":"first","affiliation":[]},{"given":"Elena","family":"Shulman","sequence":"additional","affiliation":[]},{"given":"Nick","family":"Nicholas","sequence":"additional","affiliation":[]},{"given":"Nigel","family":"Ward","sequence":"additional","affiliation":[]},{"given":"Fr\u00e9d\u00e9ric","family":"Bergeron","sequence":"additional","affiliation":[]}],"member":"72","published-online":{"date-parts":[[2010,11]]},"container-title":["D-Lib
        Magazine"],"original-title":[],"language":"en","deposited":{"date-parts":[[2010,11,15]],"date-time":"2010-11-15T18:04:40Z","timestamp":1289844280000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.dlib.org\/dlib\/november10\/massart\/11massart.html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010,11]]},"references-count":0,"journal-issue":{"issue":"11\/12","published-online":{"date-parts":[[2010,10]]}},"URL":"http:\/\/dx.doi.org\/10.1045\/november2010-massart","relation":{},"ISSN":["1082-9873"],"issn-type":[{"value":"1082-9873","type":"electronic"}],"subject":["Library
        and Information Sciences"],"published":{"date-parts":[[2010,11]]}}}'
  recorded_at: Sat, 25 Feb 2023 04:18:17 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Taming%2Bthe%2BMetadata%2BBeast:%2BILOX%2B2010%2BCNRI%2BAcct
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":567978,"items":[{"indexed":{"date-parts":[[2022,7,2]],"date-time":"2022-07-02T13:43:06Z","timestamp":1656769386233},"reference-count":0,"publisher":"De
        Gruyter","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021,10,25]]},"DOI":"10.1515\/9783110581591-017","type":"book-chapter","created":{"date-parts":[[2021,10,26]],"date-time":"2021-10-26T11:57:31Z","timestamp":1635249451000},"page":"252-255","source":"Crossref","is-referenced-by-count":0,"title":["15.
        Taming the Beast: Conclusions"],"prefix":"10.1515","member":"374","container-title":["Taming
        the Beast"],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110581591-017\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110581591-017\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,7,2]],"date-time":"2022-07-02T13:06:09Z","timestamp":1656767169000},"score":31.3345,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110581591-017\/html"}},"issued":{"date-parts":[[2021,10,25]]},"references-count":0,"alternative-id":["10.1515\/9783110581591-017","10.1515\/9783110581591"],"URL":"http:\/\/dx.doi.org\/10.1515\/9783110581591-017","published":{"date-parts":[[2021,10,25]]}},{"indexed":{"date-parts":[[2022,4,21]],"date-time":"2022-04-21T16:15:39Z","timestamp":1650557739828},"publisher-location":"2590
        Conejo Spectrum,\u00a0Thousand Oaks\u00a0California\u00a091320\u00a0United
        States\u00a0","reference-count":0,"publisher":"Corwin Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2010]]},"DOI":"10.4135\/9781452275307.n5","type":"book-chapter","created":{"date-parts":[[2013,2,13]],"date-time":"2013-02-13T19:38:58Z","timestamp":1360784338000},"page":"73-98","source":"Crossref","is-referenced-by-count":0,"title":["Taming
    [...]
